<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include("../component/link.ejs") -%>
    <title>Document</title>
</head>
<body>
    <%- include("../component/navbar.ejs") -%>
    <H1> Contact page </H1>
</body>
</html>
